.center{
    text-align: center;
}

.background{
    background-color:#000000;
}

h1{
    color:azure;
    text-align:center;
}

h2{
    color:#fdfd96;
    text-align: left;
}
h3{
    color:#C3B1E1;
    text-align: left;
}

p{
    color:azure;
}

.texto{
    text-align: justify;
}

.colorazure{
    color:azure;
}

body{
    font-family:"Consolas";
    display: flex;
    flex-direction: column;
    min-height:100%;
    margin: 0px 100px;
}

footer{
    margin-top: auto;
}

