#mapAreiaSilica{ 
    height:800px;
    width: 80%;
    margin:auto;
}

#mapQuartzo{
    height:800px;
    width: 80%;
    margin:auto;
}

#mapBauxita{
    height:800px;
    width: 80%;
    margin:auto;
}

#mapArsenopirita{
    height:800px;
    width: 80%;
    margin:auto;
}